add-new-button-background-color = #559FF8
cancel-button-background-color = #3F3F3F
create-account-border-color = #4e4e4e

input-background-color = #f4f5f6
input-dropdown-arrow-color = #4d4d4d
black-color = #000000
input-search-header-color = #666767
input-separator-color = #cdcccc

white-color = #ffffff
selected-white-color = #00ce5c
header-user-info-company-font-color = #7f7f7f
select-n-string-input-font-color = #9a9a9a
search-category-sub-sub-header-color = #9a9a9a
table-side-panel-table-category-font-color = #808080
table-side-panel-table-row-label-font-color = #808080

header-background-color = #030404
tab-separator-color = #333333
form-separator-color = #f4f5f6
dark-grey-color = #a5a5a5
grey-color = #cdcccc
light-grey-color = #4d4e4e
very-light-grey-color = #fbfbfb
blue-color = #559FF8
red-color = #FF615A