header-height = 3.35rem
sub-header-height = 2.5125rem
sub-sub-header-height = 2.5125rem
input-height = 1.4656rem
label-width = 8.375rem
select-n-string-input-width = 4.397rem
sidebar-width = 10.5525rem
collapsed-sidebar-width = 3.8525rem
user-info-width = 16.75rem
min-screen-width = 80rem //1280px
