.terms-container
  position absolute
  top 0px
  left 0px
  width 100%
  height 100%
  {display-flex}
  flex-direction column
  flex-wrap nowrap
  justify-content center
  align-items center
  align-content center
  background-image url('../assets/bg.jpg')
  flex-shrink 0

.terms-container p
  font-mixin(1.0594rem, 300, normal, left)
  color white-color
  margin-top 1.130625rem
  margin-bottom 1.25625rem

.terms-buttons-container
  {display-flex}
  flex-direction row
  flex-wrap nowrap
  justify-content space-around
  align-items center
  align-content center
  width 30rem
  margin 0.7rem

.terms-text
  font-mixin(1rem, 400, normal, left)
  resize none
  overflow-y auto
  background-color black
  color white-color
  margin-bottom 1rem
  width 30rem
  height 30rem
  padding 0.5rem
