.spinner-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.root-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.widget-title {
  font-size: 20px;
  font-weight: bold;
  color: #5A9DFF;
}

.widget-after-title {
  font-size: 18px;
  color: #2E343E;
}

.new-users-count {
  font-size: 60px;
  font-weight: bold;
  color: #030404;
}

.chart-title {
  margin-top: 19px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #9A9A9A;
}

.line-chart-container {
  flex-grow: 1;
}
