.vs
_ReSharper.Caches
artifacts

*.log
*.suo
*.sdf
*.opensdf
*.user
*.userprefs
*.DotSettings

Avend.API/obj
Avend.API/bin
Avend.API/logs
Avend.API/project.lock.json
Avend.Api/GitSha.cs

Avend.ApiTests/obj
Avend.ApiTests/bin
Avend.ApiTests/logs
Avend.ApiTests/project.lock.json

Recurly.AspNetCore/obj
Recurly.AspNetCore/bin
Recurly.AspNetCore/logs
Recurly.AspNetCore/project.lock.json

Avend.Admin/obj
Avend.Admin/bin
Avend.Admin/logs
Avend.Admin/project.lock.json

Avend.Common/obj
Avend.Common/bin
Avend.Common/logs
Avend.Common/project.lock.json

deploy/WinSCP.5.9.3