html {
  background: black url('https://portal.avend.co/azure/images/azure-bg.jpg') repeat;
}

body {
  margin: 0;
  position: static;
  left: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.intro {
  position: absolute;
  top: 10px;
  left: 83px;
  width: 250px;
  text-align: center;
  color: white;
}

#base {
  align-content: center;
}

/* Adjustments to stock file from designer */

.accountButton {
  width: 13.75em;
  height: 2.5em;
  margin: 0;
  margin-left: 4.5em;
  margin-right: 4.5em;
  white-space: nowrap;
  font-family: 'Arial Regular', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-align: center;
  line-height: normal;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0);
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.accountButton:hover {
  border: 0;
  -moz-box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

#api {
  height: 50em;
}

#api p {
  display: none;
}

#api div div div {
  display: none;
}

#api ul {
  list-style-type: none;
  padding: 0;
}

#api ul li {
  padding-top: 5px;
  display: block;
}

#GoogleExchange {
  background:
    url("https://portal.avend.co/azure/idp_buttons/login_google.png") no-repeat,
    url("https://portal.avend.co/azure/idp_buttons/login_google_hover.png") no-repeat -99999px -99999px;
}

#GoogleExchange:hover {
  background-image: url("https://portal.avend.co/azure/idp_buttons/login_google_hover.png");
}

#FacebookExchange {
  background:
    url("https://portal.avend.co/azure/idp_buttons/login_face.png") no-repeat,
    url("https://portal.avend.co/azure/idp_buttons/login_facebook_hover.png") no-repeat -99999px -99999px;
}

#FacebookExchange:hover {
  background-image: url("https://portal.avend.co/azure/idp_buttons/login_facebook_hover.png");
}

#LinkedInExchange {
  background:
    url("https://portal.avend.co/azure/idp_buttons/login_linkedin.png") no-repeat,
    url("https://portal.avend.co/azure/idp_buttons/login_linkedin_hover.png") no-repeat -99999px -99999px;
}

#LinkedInExchange:hover {
  background-image: url("https://portal.avend.co/azure/idp_buttons/login_linkedin_hover.png");
}

#AmazonExchange {
  background:
    url("https://portal.avend.co/azure/idp_buttons/login_amazon.png") no-repeat,
    url("https://portal.avend.co/azure/idp_buttons/login_amazon_hover.png") no-repeat -99999px -99999px;
}

#AmazonExchange:hover {
  background-image: url("https://portal.avend.co/azure/idp_buttons/login_amazon_hover.png");
}

#MicrosoftAccountExchange {
  display: none;
  background:
    url("https://portal.avend.co/azure/idp_buttons/login_microsoft.png") no-repeat,
    url("https://portal.avend.co/azure/idp_buttons/login_microsoft_hover.png") no-repeat -99999px -99999px;
}

#MicrosoftAccountExchange:hover {
  background-image: url("https://portal.avend.co/azure/idp_buttons/login_microsoft_hover.png");
}

#SignInWithLogonNameExchange {
  position: relative;
  top: 20em;
  color: white;
  background:
    url("https://portal.avend.co/azure/images/u19.png") no-repeat,
    url("https://portal.avend.co/azure/images/u19_mouseOver.png") no-repeat -99999px -99999px;
}

#SignInWithLogonNameExchange:hover {
  background-image: url("https://portal.avend.co/azure/images/u19_mouseOver.png");
}

#returnLink {
  position: absolute;
  left: 20px;
  top: 200px;
  font-size: 20px;
  width: 1300px;
}

#userDetails {
  position: absolute;
  left: 20px;
  top: 200px;
  width: 1300px;
  font-family: 'Courier New, Courier, monospace';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  white-space: pre-wrap;
}

#goToAccountDetails {
  position: absolute;
  left: 20px;
  top: 300px;
  width: 1300px;
  font-size: 24px;
}
