.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black url(assets/bg.jpg) no-repeat;
}
