.select {
  & :global(.Select-control) {
    border: 0;
  }
  & :global(.Select-multi-value-wrapper) {
    & :global(.Select-value-icon) {
      padding: 1px 2px;
      border: 0;
      &:hover {
        color: black;
      }
    }
    & :global(.Select-value-label) {
      padding: 1px 2px;
    }
    & :global(.Select-value) {
      margin: 2px 0 2px 5px;
      color: black;
    }
  }
}
