<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*"/>
                <add name="Access-Control-Allow-Headers"
                     value="Content-Type, Cache-Control, Accept, Origin, Authorization"/>
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <rules>
                <!--Redirect HTTP to HTTPS -->
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"
                            appendQueryString="false"/>
                </rule>

                <!--Redirect selected traffic to index -->
                <rule name="Index Rule" stopProcessing="true">
                    <match url="^.*$"/>
                    <conditions logicalGrouping="MatchAll">

                        <add input="{PATH_INFO}" pattern="^/azure/" negate="true"/>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                        <!--
                                    <add input="{REQUEST_URI}" matchType="Pattern" pattern=".*" negate="true" />
                        -->
                    </conditions>
                    <action type="Rewrite" url="/" appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>

        <staticContent>
            <clientCache setEtag="true" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00"/>
        </staticContent>
    </system.webServer>

  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>